<!-- Chips.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sys-score</title>
    <link rel="stylesheet" type="text/css" href="/static/css/chips.css" />
    <script type="text/javascript" src="./static/script/jquery.min.js"> </script>
</head>


<body>
    <div class="main">
        <div class="titlebar">
            <nav>
                <a href="/">分數調整</a>
                <a href="/team">修改隊伍</a>
                <a href="/search">查詢</a>
                <a href="/chips">籌碼</a>
            </nav>
        </div>
        <form id ="chips"  method="post">
            <div class="side">
                <div class="maininfo">
                    <div class="box" id ="modebox">
                        <label>模式選擇</label>
                        <select id = "mode" >
                            <option value="0">籌碼兌換</option>
                            <option value="1">主題競標</option>

                        </select>

                        <label>課程選擇</label>
                        <select id = "db" name="db" >
                            <option value="0">遊戲程式邏輯2A</option>
                            <option value="1">遊戲程式邏輯2B</option>
                            <option value="2">互動媒體設計2A</option>
                            <option value="3">互動媒體設計2B</option>
                        </select>
                    </div>

                    <div class = "chose" id = "redeem" >
                        <div class="box">
                            <label>學號</label>
                            <input id = "stuid" type = "text" value="" placeholder="新增成員學號"/>
                            <label>積分兌換</label>
                            <input id = "sc" type = "text" value="" oninput="upchip()" placeholder="兌換籌碼不可逆"/>
                            <label >將兌換籌碼 : <span id="display">0</span></label>
                            <button type="button"  class="btn" id = "btn1" onclick="sub(1)">送出</button>
                        </div>
                    </div>
                    
                    <div class = "chose" id = "forbid" style="display: none;">
                        <div class="box">
                            <label>主題</label>
                            <input id = "tema" type = "text" value="" placeholder="請輸入主題"/>
                            <label>得主</label>
                            <input id = "bidder" type = "text" value="" placeholder="請輸入學號"/>
                            <label>得標價</label>
                            <input id = "bid" type = "text" value="" placeholder="請輸入得標價"/>
                            <button type="button" class="btn" id = "btn2" onclick="sub(2)">送出</button>
                        </div>
                    </div>
                </div>
        </form>
                <div class = "sub">
                    <div class="box">
                        <table id="datatable" class="sclist">
                            <thead>
                                <tr>
                                    <th>學號</th>
                                    <th>姓名</th>
                                    <th>目前積分</th>
                                    <th>目前籌碼</th>
                                <tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        
            
    </div>
</body>
</html>

<script>
    var modeSelect = document.getElementById('mode');
    modeSelect.addEventListener('change', function() {
        if (modeSelect.value === '0') {
            document.getElementById('redeem').style.display = 'block';
            document.getElementById('forbid').style.display = 'none';

        } else if (modeSelect.value === '1') {
            document.getElementById('redeem').style.display = 'none';
            document.getElementById('forbid').style.display = 'block';

        }
    });

    function upchip(){
        var now = new Date();
        var deadline1 = new Date("2024-06-07");
        var deadline2 = new Date("2024-06-10");

        if (deadline2 > now) {
            if (deadline1 > now) {
                var ratio = 2;
            } else {
                var ratio = 1;
            }
        } else {
            var ratio = 0.5;
        }

        var inputValue = document.getElementById('sc').value;
        var displayText = document.getElementById('display');
        parseInt(inputValue)

        if (!isNaN(inputValue)) {
        displayText.textContent = inputValue * ratio;
        } else {
        displayText.textContent = "ERROR";
        }
    }

    function sub(num){
        document.getElementById("btn1").disabled = true;
        document.getElementById("btn2").disabled = true;
        var btnnum = num
        if (btnnum === 1){
            fdata = btn_chip()
        }else if (btnnum === 2){
            fdata = btn_bid()
            
        }
        $.ajax({
            url:"/bid",
            method:"post",
            data: JSON.stringify(fdata),
            contentType: "application/json",
            success:function(response){
                console.log('succ')
                if (response.success) {
                    alert("資料提交成功！");
                    document.getElementById("btn1").disabled = false;
                    document.getElementById("btn2").disabled = false;

                } else {
                    alert("提交失敗，請檢查資料！");
                    document.getElementById("btn1").disabled = false;
                    document.getElementById("btn2").disabled = false;
                }
            },

        })
    }

    function valiForm() {
        var stuid = document.getElementById("stuid").value;
        var chip = document.getElementById("sc").value;

        if (stuid === "" || chip === "" || isNaN(chip)) {
            alert("請輸入正確的學號和數字的積分兌換值！");
            return false;
        }
        return true;
    }




    function btn_chip(){
        var db = document.getElementById("db").value;
        var stuid = document.getElementById("stuid").value;
        var chip = document.getElementById("sc").value;
        var type = 1
        var fdata = {
        "db": db,
        "type":type,
        "ID": stuid,
        "score":chip, 
        };
        console.log(fdata)
        return fdata
        
    }

    function btn_bid(){
        var db = document.getElementById("db").value;
        var tema = document.getElementById("tema").value;
        var bidder = document.getElementById("bidder").value;
        var bid = document.getElementById("bid").value;
        var type = 2
        var fdata = {
        "type":type,
        "db": db,
        "tema":tema, 
        "bidder":bidder,
        "bid":bid,
        };
        console.log(fdata)
        return fdata
    }

    function update(data) {
        var tbody = $("#datatable tbody");
        tbody.empty(); // 清空当前表格数据
        data.forEach(function(item) {
            tbody.append("<tr>" +
                "<td>" + item.id + "</td>" +
                "<td>" + item.name + "</td>" +
                "<td>" + item.score + "</td>" +
                "<td>" + item.chip + "</td>" +
                "</tr>"
            );
        });
    }

    function list_ajax() {
        var dbValue = document.getElementById("db").value;
        var type = document.getElementById('mode').value;
        $.ajax({
            url: '/list',
            type: "GET",
            data: { 
                db: dbValue,
                type:type
             },
            dataType: "json",
            success: function(res) {
                update(res);
            },
            error: function(xhr, status, error) {
                console.error("Error fetching data:", error);
            }
        });
    }

    window.setInterval(list_ajax, 1500);
</script>