<!-- Create.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/Create.css" />
    <script type="text/javascript" src="./static/script/jquery.min.js"> </script>
</head>


<body>
    <div class="main">
        <div class="titlebar">
            <nav>
                <a href="url1.html">分數調整</a>
                <a href="url2.html">修改隊伍</a>
                <a href="url3.html">查詢</a>
                <a href="url3.html">籌碼</a>
            </nav>
        </div>
        <div class="maininfo">
            <div class="box">
                <select id="id">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">3</option>
                </select>
                <label>分數</label>
                <input id = "ID" type = "text"/>
            </div>
            <div class="box">
            
            </div>

        </div>

    </div>
</body>
</html>

