<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sys-score</title>
    <link rel="stylesheet" type="text/css" href="/static/css/search.css" />
    <script type="text/javascript" src="./static/script/jquery.min.js"> </script>
</head>


<body>
    <div class="main">
        <div class="titlebar">
            <nav>
                <a href="/">分數調整</a>
                <a href="/team">修改隊伍</a>
                <a href="/search">查詢</a>
                <a href="/chips">籌碼</a>
            </nav>
        </div>
        <form id ="score" method="post">
            <div class="maininfo">
                <div class="box" id ="modebox">
                    <label>查詢內容</label>
                    <select id = "mode" >
                        <option value="0">隊伍列表</option>
                        <option value="1">主題得主</option>
                    </select>
                    <label>課程選擇</label>
                    <select id = "db" name="db" >
                        <option value="0">遊戲程式邏輯2A</option>
                        <option value="1">遊戲程式邏輯2B</option>
                        <option value="2">互動媒體設計2A</option>
                        <option value="3">互動媒體設計2B</option>
                    </select>
                </div>
                <div class="box" id ="datalist">
                    <table id="datatable" class="sclist">
                        <thead>
                            <tr>
                                <th>主題</th>
                                <th>得標者</th>
                                <th>得標價</th>
                            <tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
        </form>
            
    </div>
</body>
</html>

<script>

    function update(data) {
        var tbody = $("#datatable tbody");
        tbody.empty(); // 清空当前表格数据
        data.forEach(function(item) {
            tbody.append("<tr>" +
                "<td>" + item.tema + "</td>" +
                "<td>" + item.bidder + "</td>" +
                "<td>" + item.bid + "</td>" +
                "</tr>"
            );
        });
    }

    function tema_ajax() {
        var dbValue = document.getElementById("db").value;
        var type = document.getElementById('mode').value;
        $.ajax({
            url: '/tema',
            type: "GET",
            data: { 
                db: dbValue,
                type:type
             },
            dataType: "json",
            success: function(res) {
                update(res);
            },
            error: function(xhr, status, error) {
                console.error("Error fetching data:", error);
            }
        });
    }

    window.setInterval(tema_ajax, 1500);

</script>