<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sys-score</title>
    <link rel="stylesheet" type="text/css" href="/static/css/search.css" />
    <script type="text/javascript" src="./static/script/jquery.min.js"> </script>
</head>


<body>
    <div class="main">
        <div class="titlebar">
            <nav>
                <a href="/">分數調整</a>
                <a href="/team">修改隊伍</a>
                <a href="/search">查詢</a>
                <a href="/chips">籌碼</a>
            </nav>
        </div>
        <form id ="score" method="post">
            <div class="maininfo">
                <div class="box" id ="modebox">
                    <label>查詢內容</label>
                    <select id = "mode" >
                        <option value="0">積分對照</option>
                        <option value="1">隊伍列表</option>
                        <option value="2">籌碼對照</option>
                    </select>
                    <label>課程選擇</label>
                    <select id = "db" name="db" >
                        <option value="0">遊戲程式邏輯2A</option>
                        <option value="1">遊戲程式邏輯2B</option>
                        <option value="2">互動媒體設計2A</option>
                        <option value="3">互動媒體設計2B</option>
                    </select>
                    <button type="button" class="btn" id ="btn3" onclick="btn()">送出</button>
                </div>
                <div class="box" id ="datalist">

                </div>
        </form>
            
    </div>
</body>
</html>

<script>
    function btn(){
        var modeSelect = document.getElementById('mode').value;
        var db = document.getElementById("db").value;
        var fdata = {
        "mode": modeSelect,
        "db": db,
        };
        console.log(fdata)

        $.ajax({
            url:"/list",
            method:"post",
            data: JSON.stringify(fdata),
            contentType: "application/json",
            success:function(response){
                console.log('succ')
                if (response.success) {
                    console.log(response.data)
                    display(response.data)
                    alert("資料提交成功！" + response.why);

                }else{
                    console.log( response.why)
                    alert("提交失敗，" + response.why);
                }
            },
        })

    }

    function display(data) {
            var dataList = document.getElementById('datalist');
            dataList.innerHTML = ''; // 清空原有資料

            data.forEach(function(item) {
                var listItem = document.createElement('div');
                listItem.textContent = item[0];
                dataList.appendChild(listItem);
            });
        }
</script>