@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body{
    margin: 0%;
    
    font-family: Noto Sans TC, Helvetica, Arial, sans-serif;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

label{
    
    text-align: left;
    margin-bottom: 15px;
}







.main{
    display: flex;
    flex-direction: column;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    background-color: #ffffff;
    height: auto;

}


.maininfo {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    height: auto;

}

.titlebar {
    display: flex;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    
}

.box{
    display: flex;
    flex-direction: column;
    border: 2px solid #ffffff; /* 黑色边框 */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 600px;
    background-color: #ffffff;
    margin: 20px;
}



.titlebar {
    display: flex;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    
}

.titlebar nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}

.titlebar nav a:hover {
    background-color: #ddd;
    color: black;
}

input[type="text"] {
    /* 设置边框宽度、样式和颜色 */
    border: 2px solid #8f8f8f; /* 边框颜色为蓝色，可以根据需要调整 */
    /* 设置圆角 */
    border-radius: 8px; /* 圆角半径，越大越圆 */
    /* 设置输入框内边距 */
    padding: 10px 15px; /* 上下 10px，左右 15px */
    /* 设置输入框的字体大小和颜色 */
    font-size: 16px; /* 字体大小 */
    color: #333; /* 字体颜色 */
  }
  
  /* 悬停时改变输入框边框颜色 */
  input[type="text"]:hover {
    border-color: #dfdfdf; /* 鼠标悬停时的边框颜色 */
  }
  
  /* 聚焦时改变输入框边框颜色 */
  input[type="text"]:focus {
    outline: none; /* 移除默认的聚焦边框 */
    border-color: #8f8f8f; /* 输入框聚焦时的边框颜色 */
  }
  
  #btn {
    padding: 15px 25px;
    font-size: 20px;
    background-color: #1d1c1c;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  /* 可以添加其他样式，如 hover 效果等 */
  #btn:hover {
    background-color: #e70e0e;
  }